@charset "utf-8";

.inner{
    margin: 0 auto;
}

/*********************모바일*********************/

/*main-visual*/
.main-visual{
    display: block;
    width: 100%;
    height: 100vh;
}
.main-visual video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*container*/
#container > section{
    padding: 100px 0;
    margin: 0 auto;
}
#container h2{
    font-weight: bold;
    margin-bottom: 20px;
}

/*news section*/
.news h2{
    text-align: center;
    font-size: 3.7rem;
}
.news h3{
    display: none;
    font-size: 3.7rem;
    margin-left: 100px;
    margin-bottom: 20px;
}
.newsSlide{
    width: 100%;
    text-align: center;
}
.news img{
    background-color: #fff;
    margin-bottom: 27px;
    padding: 0 50px;
}
.newsSlide h4{
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
}
.newsSlide p{
    font-size: 2rem;
    display: -webkit-box;          
    -webkit-box-orient: vertical;
    overflow: hidden;             
    text-overflow: ellipsis;      
    -webkit-line-clamp: 4;        
    line-height: 1.5;           
    max-height: calc(1.5em * 4);  
    text-align: justify;
}
.newsSlide .txt-box{
    padding: 0 20px;
}
.newsSlide p.date{
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 12px;
    position: relative;
    text-align: left;
}
.newsSlide .swiper-pagination{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    padding-right: 40px;
}
.news-play, .news-pause{
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 33px;
    transform: translateY(-50%);
    z-index: 99;
    background-color: #fff;
    cursor: pointer;
}
a.news-pause .material-symbols-outlined, a.news-play .material-symbols-outlined{
    display: block;
    width: 20px;
    height: 20px;
    text-align: right;
}
.news-pause img, .news-play img{
    display: block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 0;
}
.newsSlide .swiper-pagination-bullet{
    width: 30px;
    height: 5px;
    border-radius: 0;
}
.newsSlide .swiper-pagination-bullet-active{
    background-color: #002000;
}
.newsSlide .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: absolute;
    right: 10px;
    bottom: 47px;
    transform: translateY(-50%);
}
section .viewmore{
    width: 100%;
    text-decoration: underline;
    text-transform: lowercase;
    border: 0;
    background-color: transparent;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
}


.newspaper{
    display: none;
}


/*brandstory*/
.brandstory{
    width: 600px;
    display: flex;
    justify-content: center;

}
.brandstory h2 a{
    display: block;
    height: 45px;
    position: relative;
}
.brandstory h2 img{
    display: block;
    width: 350px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.brandstory p{
    font-size: 2rem;
    padding-left: 5px;
    font-weight: 400;
    margin: 20px 0;
}
.brandstory p.sub-tit{
    text-align: center;
}
.brandstory .overview h4{
    font-size: 3rem;
    font-family: "Jacques Francois", sans-serif;
    margin: 30px 0 10px;
    font-weight: 500;
}
.brandstory .overview{
    position: relative;
}
.brandstory .overview button.viewmore{
    position: absolute;
    right: -180px;
    top: 78%;
    transform: translateY(-50%);
}

.brandstory .overview > img{
    display: block;
    width: 561px;
    height: auto;
    padding: 0 5%;
}
.brandstory .earth{
    display: none;
}
.brandstory .inner > p{
    font-size: 2rem;
}
.brandstory .overview .txt-box2 p{
    font-size: 2.2rem;
    font-weight: 400;
}


/*product*/
.product{
    text-align: center;
    background: url(../img/product-bg.jpg) no-repeat center/ cover;
}
.product h2{
    font-size: 4rem;
}
.product p{
    font-size: 2rem;
    margin-bottom: 10px;
}
.productS{
    width: 100%;
    height: 537px;
    position: relative;
}
.productS.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    height: 440px;
    margin: 10px 0 0;
}
.productS ul li img{
    height: 407px;
}
.productS .swiper-pagination-bullet{
    width: 30px;
    height: 5px;
    border-radius: 0;
}
.productS .swiper-pagination-bullet-active{
    background-color: #002000;
}
.product .icon-box ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10%;
}
.product .icon-box ul li{
    width: 30%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.product .icon-box ul li img{
    width: 100%;
    height: auto;
}


/*banner*/
.banner .inner{
    margin: 0 5%;
}
.banner .inner > div{
    width: 100%;
    height: 330px;
    color: #fff;
    opacity: 0.8;
    transition: all 0.5s;
}
.banner .inner > div:hover{
    opacity: 1;
}
.investment{
    background: url(../img/investment.jpg) no-repeat center/ cover;
    position: relative;
    margin-bottom: 20px;
}
.banner .investment .txt-box{
    position: absolute;
    top: 30px;
    left: 30px;
}
.recruitment{
    background: url(../img/recruitment.jpg) no-repeat center/ cover;
    position: relative;
}
.banner .recruitment .txt-box{
    position: absolute;
    bottom: 30px;
    right: 25px;
    text-align: right;
}
.banner h4{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}





/*********************데스크탑*********************/
@media screen and (min-width : 1200px){

    section.news{
        max-width: 1200px;
    }
    .news h2{
        font-size: 5rem;
    }
    .news h3{
        display: block;
        font-size: 3.7rem;
        margin-left: 50px;
    }
    .news .newsSlide ul li:nth-child(1) .txt-box{
        max-width: 786px; 
    }
    .news .newsSlide .swiper-slide a{
        display: flex;
    }
    .news .newsSlide .swiper-slide img{
        width: 414px;
    }
    .newsSlide .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 30px;
    }
    .news-play, .news-pause{
        bottom: 16px;
    }
    section .viewmore{
        text-align: right;
        padding-right: 10px;

    }
    .newsSlide{
        position: relative;
    }
    .news .viewmore{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .newsSlide h4{
        text-align: left;
    }
    
    /*newspaper*/
    .newspaper{
        display: block;
        padding-top: 20px;
    }
    .newsPaper{
        padding: 5px;
        background-color: #EEEEEE;
        border-radius: 15px;
    }

    .newspaper h4{
        font-size: 2rem;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .newsPaper ul{
        height: 58px;
    }

    .newspaper p{
        width: 100%;
        font-size: 2rem;
        padding: 0 20px;
    }
    .newspaper p.date2{
        font-size: 1.5rem;
        font-family: "Noto Sans KR", sans-serif;
        width: 200px;
        text-align: right;
        padding-top: 17px;
    }
    .newspaper span{
        font-size: 1.7rem;
    }
    .newspaper a{
        display: flex;
        justify-content: space-between;
    }


    /*brandstory*/
    .brandstory-in{
        display: flex;
        justify-content: space-between;
    }
    .brandstory h2 img{
        left: 12.5%;
    }
    .brandstory .earth{
        display: block;
        width: 794px;
        height: 662px;
        object-fit: cover;
    }
    .brandstory .earth ul{
        display: flex;
        gap: 5px;
    }
    .brandstory .earth li{
        width: 214px;
        overflow: hidden;
        transition: all 0.5s;
    }
    .brandstory .earth li.active{
        width: 580px;
    }

    .brandstory .overview{
        margin-left: 40px;
    }
    .brandstory .overview button.viewmore{
        top: 71%;
        right: 40px;
    }
    .brandstory p.sub-tit{
        text-align: left;
    }


    /*product*/
    .product{
        text-align: left;
    }
    .product .inner{
        margin: 0 10%;
        position: relative;
    }
    .product h2{
        text-align: left;
        font-size: 5.5rem;
    }
    .product p{
        font-size: 2.5rem;
        height: 480px;
    }
    .productS{
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }
    .product .icon-box ul{
        width: 600px;
    }
    .product .swiper-slide{
        text-align: center;
        height: 800px;
        overflow: hidden;
    }
    .productS.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
        max-width: 700px;
        height: 710px;
    }
    .productS ul li img{
        width: auto;
        height: 560px;
        object-fit: contain;
    }
    .product .icon-box ul{
        justify-content: flex-start;
        gap: 30px;
        margin: 0;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
        text-align: right;
    }


    /*banner*/
    .banner .inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 10%;
    }
    .banner .inner > div{
        width: calc((100% - 20px) / 2);
    }



   

}